*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MochiyPopOne-Regular;
    text-decoration: none;
}
body{
    font-size: 30px;
    margin: 2px;
   

}
h1{
    text-align: center;
  
}
/*---------Home-----------*/
.home{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
    background-color: blanchedalmond;
   
  
   
}
.nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
   margin: 0 2px;
   height:10%;
   background-color: #f79d6f;
   position: fixed;
   width: 100%;
   /*background: transparent; */


}
#logo{
margin: 20px 30px;
font-size: 50px;
padding-bottom:10px ;


}
#fo{
    color: cornsilk
}

.navbar{
    float: right;
   margin-top: 10px;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
}
.navbar li a:hover{
    background-color:cornsilk;
    color: #f79d6f;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.con{
    height: 570px;
   
    width: 60%;
    padding: 250px 0 20px 110px;
    font-size: 3rem;
}
#tac{
    color: #f79d6f;
}
#home-btn{
    background-color: #f79d6f;
width: 130px;
height: 40px;
font-size: 20px;
border: none;
border-radius: 10px;
font-weight: bold;
}
#home-btn:hover{
    background-color:black;
    color: white;
    font-size: 20px;
}
.photo{
    height: 799px;
    width: 70%;
   
 
   

}
.photo img{
    width: 100%;
    height: 100%;
  
}
/*-----------About---------*/
.about{
    height: 100vh;
    width: 100%;
   
    
}
.col{
    height: aouto;
    width: 100%;
    
}
.col-left{
width: 400px;
margin-left: 60px;
padding-top: 120px;

float: left;
}
.col-left img{
  margin-left: 40px;
   width: 200px;
   height: 200px;
   border-radius: 50%;
}
.col-right{
    width: 1000px;
   font-size: 20px;
    height:80vh;  
    float: right;
    padding: 10px;
    font-style: italic;              ;
}
h5{
    text-align: center;
}
.education, .experience, .skills, .hobbies{
    height: 300px;
    background-color:white;
    width: 400px;
    text-align:justify;
    margin: 5px;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 4px 5px 26px ;
}
.hobbies ul li{
    margin: 20px;
    margin-left: 50px;
}
.skills ul{
    margin: 20px;

}
.skills #list{
    padding-left: 60px;
}
.education p, .experience p{
    padding: 10px;
}

.mid{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.mid2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
/*projects*/
.projects{
    height: 100vh;
    width: 100%;
   
}
.project{
margin: 10px;
display: flex;
flex-direction: column;

}
.proj1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.proj2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.pro1, .pro2, .pro3, .pro4, .pro5, .pro6{
    height: 300px;
    background-color: blanchedalmond;
    width: 500px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 4px 5px 6px #f79d6f;

}
.pro1:hover, .pro2:hover, .pro3:hover, .pro4:hover, .pro5:hover, .pro6:hover{
    background-color: white;
    

}
.btn #graphy-btn,.btn #graphy1-btn, .btn #graphy2-btn, .btn #graphy3-btn, .btn #graphy4-btn, .btn #graphy5-btn{
    background-color: #f79d6f;
    width: 130px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;

}
.btn #graphy-btn:hover, .btn #graphy1-btn:hover, .btn #graphy2-btn:hover, .btn #graphy3-btn:hover, .btn #graphy4-btn:hover, .btn #graphy5-btn:hover{
    background-color:black;
    color: white;
    font-size: 26px;
}

/*-------Contact--------*/
.contact{
    height: 100vh;
    width: 100%;
    background-color: blanchedalmond;
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.col-left{
    height: 80vh;
    width: 400px;
    margin-left: 20px;
    font-size: 20px;
}
.map{
    margin-top: 40px;
}

.message{
    height: 80vh;
    width: 600px;
}
.message input[type="text"], input[type="email"]{
    width: 500px;
    height: 40px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: none;

}
.message textarea{
    width: 500px;
    padding: 20px;
    margin: 20px;
    border: none;

}
 #message-btn{
    height: 30px;
    width: 130px;
    margin: 20px;
    font-size: 20px;
    background-color: #f79d6f;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
   
}
#message-btn:hover{
    background-color:black;
    color: white;
    font-size: 16px;
}

.address{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}
#pi {
    float: right;
    height: 30px;
    width: 130px;
    margin: 20px;
    font-size: 20px;
    background-color: #f79d6f;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}
footer{
    background-color: #f79d6f;

    height: 40px;
    text-align: center;
}
#fa{
    color: cornsilk;
}
