*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MochiyPopOne-Regular;
    text-decoration: none;
}
body{
    font-size: 30px;
    margin: 2px;
   

}
h1{
    text-align: center;
  
}
/*---------Home-----------*/
.home{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
    background-color: blanchedalmond;
   
  
   
}
.nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
   margin: 0 2px;
   height:10%;
   background-color: #f79d6f;
   position: fixed;
   width: 100%;
   /*background: transparent; */


}
#logo{
margin: 20px 30px;
font-size: 50px;
padding-bottom:10px ;


}
#fo{
    color: cornsilk
}

.navbar{
    float: right;
   margin-top: 10px;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
}
.navbar li a:hover{
    background-color:cornsilk;
    color: #f79d6f;
}